BasedOnStyle: LLVM
Standard: c++20
IndentWidth: 4
UseTab: Never
ColumnLimit: 120
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
NamespaceIndentation: None
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
DerivePointerAlignment: false
AlignTrailingComments: true
AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: false
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2
